
.p3 {
    text-align: justify
}
.container2 {
    position: relative;
    top: 200px;
    left: 500px;
    max-width: 1000px;
}
.div3 {
    max-width: 90px;
}

.space {
    top: 50px;
}

.spaceleft {
    text-align: center;
}

