<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="text-white">Acerca de nosotros</h4>
                    <p>
                        <a href="#home" >► Inicio</a>
                        <br><a href="#feature" >► Servicios</a>
                        <br><a href="#about">► Nosotros</a>
                        <br><a href="#weoffer">► Clientes</a>
                        <br><a href="#contact">► Contactanos</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="text-white">Contáctanos</h4>
                    <p class="number">
                        07-2833000 <br>
                        07-2833100
                    </p>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="text-white">Dirección</h4>
                </div>
                <p class="number">
                    Padre Aguirre 9-66 y Gran Colombia.<br>
                    Cuenca, Ecuador
                </p>
            </div>
        </div>
</footer>
<!-- End footer Area -->