<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="text-white">Acerca de nosotros</h4>
                    <p>
                        <a href="#home" >► Inicio</a>
                        <br><a href="#feature" >► Servicios</a>
                        <br><a href="#about">► Nosotros</a>
                        <br><a href="#weoffer">► Clientes</a>
                        <br><a href="#contact">► Contactanos</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="text-white">Contactanos</h4>
                    <p class="number">
                        07-2833000 <br>
                        07-2833100
                    </p>
                </div>
            </div>
            <div class="col-lg-5  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h4 class="text-white">Envianos un mensaje</h4>
                </div>
                <form id="contact-form" class="form-area mt-60" action="" method="post" class="contact-form text-right">
                    <div class="messages"></div>
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <input name="name" placeholder="Ingresa tu nombre" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Ingresa tu nombre'" class="common-input mb-20 form-control"
                                required="" type="text">

                            <input name="phone" placeholder="Ingresa tu teléfono" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Ingresa tu teléfono'"
                                class="common-input mb-20 form-control" required="" type="number">

                            <input name="email" placeholder="Ingresa tu correo"
                                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingresa tu correo'"
                                class="common-input mb-20 form-control" required="" type="email">
                        </div>
                        <div class="col-lg-6 form-group">
                            <textarea class="common-textarea mt-10 form-control" name="message"
                                placeholder="Ingrese su mensaje" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Ingrese su mensaje'" required=""></textarea>
                            <button type="submit" class="primary-btn mt-20">Enviar<span
                                    class="lnr lnr-arrow-right"></span></button>
                            <div class="mt-10 alert-msg">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</footer>
<!-- End footer Area -->