<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div>
                <a href="/"><img src="img/logoF2.JPG" alt="" title="" class="logo"/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class=""><a href="#home" class="font-family:sans-serif">INICIO</a></li>
                    <li><a href="#feature">SERVICIOS</a></li>
                    <li><a href="#about">NOSOTROS</a></li>
                    <li><a href="#weoffer">CLIENTES</a></li>
                    <li><a href="#contact">CONTACTANOS</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->